<div class = "user-profile">
  <div class="user-profile">
    <%= render 'show' %>
  </div>
</div>

<div>	
<%= link_to 'Edit Profile', edit_profile_path(current_user.profile), class: "btn btn-primary btn-xm", remote: true if current_user.profile == @profile%>
<%= link_to 'back', posts_path, class: "btn btn-primary btn-xm"%>
</div>