<%= link_to 'Edit Profile', edit_profile_path(current_user.profile), remote: true if current_user.profile == @profile %>

<div class="user-profile">
  <%= render 'show' %>
</div>

<%= link_to 'back', posts_path%>
