<h1> SESSIONS DETAILS </h1> 
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>
<p class = "links">
<%= link_to 'edit', posts_path, class: "btn btn-primary btn-xs" %>
</p>
