<!-- <div class = "new-comment"> -->
<%= form_for([ @post, @comment], remote: true)  do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_field :username %>
  </p>  
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>


