<h2 style="color:green;"> STUDENTS DETAILS </h2>
<!-- <div class="user-profile">
</div> -->
<div>
   <%= render partial: 'search'%>
</div>

<div class="search-post">
  <%= render partial: 'results'%>
</div>

<%= link_to 'back', users_path%>
<div class="user-profile">
</div>

