<div class= "user-profile">
	
<h3 style="color:green;"> USERS POSTS </h3>

<div>
   <%= render partial: 'search'%>
</div>

<div class="search-post">
  <%= render partial: 'results'%>
</div>

<p class = "links">
<%= link_to 'back', users_path, class: "btn btn-primary btn-xs"%>
</p>

</div>

<center>
  <%#= paginate @posts, window: 2 %><br>
</center> 
