<h2 style="color:green;"> STUDENTS DETAILS </h2>
<!-- <div class="user-profile">
</div> -->
<div>
   <%= render partial: 'search'%>
</div>

<div class="search-post">
  <%= render partial: 'results'%>
</div>

<p class = "links">
<%= link_to 'back', users_path, class: "btn btn-primary btn-xs"%>
</p>

<div class="user-profile">
</div>
