<h2 style="color:green">  MY POST </h2>

<%# if @user.profile %>
  <%#= link_to 'Profile', profile_path(current_user.profile)%>
<%# else %>
  <%#= link_to 'Profile', new_profile_path %>
<%# end %>

<table>
  <div class= "row">
  <tr>
    <th class="col-md-2">Title</th>
    <th class="col-md-2">Description</th>
    <th class="col-md-2">Image</th>
    <th class="col-md-2">Action</th>
  </tr>
  </div>
  
  <% @post.each do |post| %>
    <tr class="post-row-<%= post.id %>">
      <%= render partial: 'post_row', locals: {post: post}%>
    </tr>
  <% end %>  
</table>
<div class="edit-comment-box">
  
</div>
<p class = "links">
<%= link_to 'Back', posts_path, class: "btn btn-primary btn-xs" %>
</p>