<% @post.each do |post| %>
  <div class="col-xs-4 col-xs-offset-0 col-lg-4 col-lg-offset-0">
    <div class="product_img img-responsive">
      <%= image_tag post.image_url, width: '200px',
      height: '250px'%>
    </div>
    <div class="Title">
      <h4><%= title.name %></h4>
    </div>    
    <div class="Description_line">
      <h4 class="Description">
    </div>
      <%= link_to 'back', my_post_path%>
  </div>
<%end%>
